{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Hospital Registry{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="info-content">
            <div class="title-content">
                <h3>Нотатки</h3>
            </div>
            <div class="notes-content">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
        </div>

        <div class="image-container">
            <img src="{% static 'main/img/doctor.png' %}" alt="docot image" class="doctor-image">

            <div class="doctor-info">
                <h4>Cергій Віталійович Комар</h4>
                <p>Лікар загальної практики з понад 10-річним досвідом. Спеціалізується на профілактиці та лікуванні хронічних захворювань, веденні пацієнтів різного віку, а також на сучасних підходах до здорового способу життя. Відомий своєю уважністю до деталей, людяністю та вмінням знайти спільну мову навіть з найвибагливішими пацієнтами. Регулярно проходить підвищення кваліфікації, бере участь у міжнародних медичних конференціях.</p>
            </div>
        </div>

        <div class="contacts-container">
            <div class="contact-item">
                <h3>Головній лікар</h3>
                <p><strong>ПІБ: </strong>Сергій Віталійович Комар</p>
                <p><strong>Посада: </strong>Головний лікар</p>
                <p><strong>Телефон: </strong>+38 (067) 123-45-67</p>
                <p><strong>Email: </strong>a.kovalenko@hospital.ua</p>
                <p><strong>Кабінет: </strong>Адміністративний корпус, 2 поверх, каб. №201</p>
            </div>

            <div class="contact-item">
                <h3>Керівник відділення хірургії</h3>
                <p><strong>ПІБ: </strong>Др. Оксана Гуменюк</p>
                <p><strong>Посада: </strong>Завідувачка хірургічного відділення</p>
                <p><strong>Телефон: </strong>+38 (050) 987-65-43</p>
                <p><strong>Email: </strong>o.humeniuk@hospital.ua</p>
                <p><strong>Кабінет: </strong>Хірургічне відділення, 1 поверх, каб. №106</p>
            </div>

            <div class="contact-item">
                <h3>Керівник приймального відділення</h3>
                <p><strong>ПІБ: </strong>Др. Тарас Білик</p>
                <p><strong>Посада: </strong>Старший лікар приймального відділення</p>
                <p><strong>Телефон: </strong>+38 (093) 246-80-11</p>
                <p><strong>Email: </strong>t.bilyk@hospital.ua</p>
                <p><strong>Кабінет: </strong>Приймальне відділення, 1 поверх</p>
            </div>

            <div class="contact-item">
                <h3>Головна медсестра</h3>
                <p><strong>ПІБ: </strong>Наталія Шевченко</p>
                <p><strong>Посада: </strong>Головна медична сестра</p>
                <p><strong>Телефон: </strong>+38 (068) 334-55-22</p>
                <p><strong>Email: </strong>n.shevchenko@hospital.ua</p>
                <p><strong>Кабінет: </strong>Адміністративний корпус, 3 поверх, каб. №305</p>
            </div>
        </div>
    </div>
{% endblock %}
